{{#partial "content"}}
    <div class="container py-3">
        <div class="row">
            {{#each animal}}
                <div class="card border border-0 col-1 mb-2 rounded-circle bg-transparent d-flex flex-column align-content-center" style="width: 12rem; height: 12rem">
                    <img src="images/animals/{{animal}}.jpeg" class="card-img-top img-fluid rounded-circle shadow-lg" alt="" style="width: 12rem; height: 12rem">
                    <div class="">
                        <a href="/sighting/{{animal}}" class="stretched-link text-decoration-none text-light"><h6 class="card-title text-center">{{animal}}</h6></a>
                    </div>
                </div>
            {{/each}}

        </div>
    </div>
{{/partial}}

{{> layout.hbs}}